<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>DisplayAvailOrBusy</servlet-name>
  	<display-name>DisplayAvailOrBusy</display-name>
  	<description></description>
  	<servlet-class>dbAccess.DisplayAvailOrBusy</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SpotInfo</servlet-name>
  	<display-name>SpotInfo</display-name>
  	<description></description>
  	<servlet-class>dbAccess.SpotInfo</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ProcessGetSpot</servlet-name>
  	<display-name>ProcessGetSpot</display-name>
  	<description></description>
  	<servlet-class>dbAccess.ProcessGetSpot</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ParkingReg</servlet-name>
  	<display-name>ParkingReg</display-name>
  	<description></description>
  	<servlet-class>dbAccess.ParkingReg</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ParkingReceipt</servlet-name>
  	<display-name>ParkingReceipt</display-name>
  	<description></description>
  	<servlet-class>dbAccess.ParkingReceipt</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>TopUpAccount</servlet-name>
  	<display-name>TopUpAccount</display-name>
  	<description></description>
  	<servlet-class>dbAccess.TopUpAccount</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>DisplayAvailOrBusy</servlet-name>
  	<url-pattern>/DisplayAvailOrBusy</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SpotInfo</servlet-name>
  	<url-pattern>/SpotInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ProcessGetSpot</servlet-name>
  	<url-pattern>/ProcessGetSpot</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ParkingReg</servlet-name>
  	<url-pattern>/ParkingReg</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ParkingReceipt</servlet-name>
  	<url-pattern>/ParkingReceipt</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>TopUpAccount</servlet-name>
  	<url-pattern>/TopUpAccount</url-pattern>
  </servlet-mapping>
</web-app>
